/* style.css */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Tourney', sans-serif;
  font-size: 3rem;
}

@keyframes fondu {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.fade {
  animation: fondu 3s infinite;
}


